* {
    box-sizing: border-box;
}

body{
    background-color: #556;
}

#timerBar{
    position:relative;
    border:1px solid #eee;
    width:200px;
    height:100%;
    border-radius:3px;
}

.zind2{
    z-index:2;
    position:relative;
}

.choice{
    padding:2px;
    width:25px;
    margin:4px;
    margin-right:20px;
}

.hide {
    display: none;
  }